In [1]:
# Question 0: 
# ^^^ Leave these lines this like this without modifying (for the autograder). Do not add any more text to the 
# 'Question #:' line. Make sure that all code needed to answer each question is found within the designated code
# cell. If you want to use one of your own functions, copy the function into the code cell where it is needed.

In [11]:
# Question 1: 
# Import the dataset 'lc_20k_no_missing.csv' into a DataFrame
# Print the number of rows and columns (+1)
# Print the first first 10 rows (+1)
import pandas as pd 

df = pd.read_csv('..\lc_20k_no_missing.csv')
print(df.shape)
df.head(10)

(20000, 35)

  loan_status  loan_status_numeric  loan_amnt  ...    dti grade  sub_grade
0     Current                    5      20800  ...  21.82     C         C4
1  Fully Paid                    6      16000  ...  15.31     C         C5
2     Current                    5      12000  ...  15.69     C         C3
3     Current                    5      15000  ...   9.10     C         C1
4  Fully Paid                    6      35000  ...  24.90     A         A5
5  Fully Paid                    6       6050  ...  12.78     A         A3
6     Current                    5      10000  ...  11.13     A         A1
7     Current                    5       8500  ...  12.69     A         A3
8  Fully Paid                    6      20000  ...  14.06     D         D2
9  Fully Paid                    6      24000  ...  13.64     D         D3

[10 rows x 35 columns]

In [16]:
# Question 2:
# Run all univariate statistics and metrics on the dataset and print them out a DataFrame. (+5)
# How many features have missing data?

import pandas as pd

df_output = pd.DataFrame(columns=['Count', 'Missing', 'Min', 'Q1', 'Q2/Median', 'Q3', 'Max', 'Mode', 'Mean', 'Std', 'Skew', 'Kurtosis'])
for col in df: #loops through each column in the dataframe
  if pd.api.types.is_numeric_dtype(df[col].dtype): #shows whether the data type is numeric or nahh
    df_output.loc[col] = [df[col].count(), df[col].isnull().sum(), df[col].min(), df[col].quantile(.25), df[col].median(), df[col].quantile(.75), df[col].max(), df[col].mode().values[0], df[col].mean(), df[col].std(), df[col].skew(), df[col].kurt()]    
  else: #not numeric
    df_output.loc[col] = [df[col].count(), df[col].isnull().sum(), '-', '-', '-', '-', '-', df[col].mode().values[0], '-', '-', '-', '-']    
    
df_output

                        Count Missing    Min  ...       Std      Skew  Kurtosis
loan_status             20000       0      -  ...         -         -         -
loan_status_numeric     20000       0      0  ...   1.51193  -2.45869   5.20993
loan_amnt               20000       0   1000  ...   9776.78  0.786712 -0.209633
issue_d                 20000       0      -  ...         -         -         -
term                    20000       0      -  ...         -         -         -
int_rate                20000       0   5.31  ...   5.13088  0.943187  0.907684
installment             20000       0  30.12  ...   285.197   1.00167  0.516908
total_pymnt             20000       0      0  ...   8754.78   1.65583   2.75681
total_rec_prncp         20000       0      0  ...   7718.84   1.84546   3.41639
total_rec_int           20000       0      0  ...   2140.92   2.56607   9.72287
total_rec_late_fee      20000       0      0  ...   11.8385   21.1339   713.945
title                   20000       0      -  ...         -         -         -
purpose                 20000       0      -  ...         -         -         -
emp_title               20000       0      -  ...         -         -         -
emp_length              20000       0      -  ...         -         -         -
home_ownership          20000       0      -  ...         -         -         -
annual_inc              20000       0   1800  ...   67195.4   14.6907   588.117
verification_status     20000       0      -  ...         -         -         -
acc_now_delinq          20000       0      0  ...  0.063914   17.0548   310.534
delinq_2yrs             20000       0      0  ...  0.859672   6.40334   76.9194
earliest_cr_line        20000       0      -  ...         -         -         -
inq_last_6mths          20000       0      0  ...  0.788941   1.79616   3.56101
mths_since_last_delinq  20000       0      0  ...   29.3477 -0.645604  -1.19319
mths_since_last_record  20000       0      1  ...   10.7055  -3.35936   17.6819
open_acc                20000       0      1  ...   5.85609   1.33281   3.40065
pub_rec                 20000       0      0  ...  0.523387   4.55676   35.9789
revol_bal               20000       0      0  ...   23749.8   10.7142   275.416
revol_util              20000       0      0  ...   24.6823  0.108021 -0.816159
tot_coll_amt            20000       0      0  ...   1976.35   45.8835   3354.18
tot_cur_bal             20000       0      0  ...    165208   2.25783   9.77403
total_acc               20000       0      2  ...   12.0182   1.11025   2.30186
total_rev_hi_lim        20000       0    100  ...   36393.5   5.72395   95.8747
dti                     20000       0      0  ...   11.1893   7.28392   212.304
grade                   20000       0      -  ...         -         -         -
sub_grade               20000       0      -  ...         -         -         -

[35 rows x 12 columns]

In [2]:
# Question 3:
# Which categorical feature is most likely to have groups with fewer than 5% of the cases?
# Eliminate that feature identified in the prior step that have too many unique categorical groups. Do 
# this on the original DataFrame (not on a copy of the DataFrame) using the inplace attribute (+1). 
# Print out the first five records of the original DataFrame to make sure that feature was deleted.

  from scipy import stats
  import pandas as pd
  import numpy as np

  # Create an empty DataFrame to store output
  output_df = pd.DataFrame(columns=['Stat', '+/-', 'Effect size', 'p-value'])

  for col in df:
    if not col == label:
      if df[col].isnull().sum() == 0:
        if pd.api.types.is_numeric_dtype(df[label]):
          if pd.api.types.is_numeric_dtype(df[col]): # Only calculate r, p-value for the numeric columns
            r, p = stats.pearsonr(df[label], df[col])
            output_df.loc[col] = ['r', np.sign(r), abs(round(r, 3)), round(p, 6)]
            scatter(df[col], df[label])
          else:
            F, p = anova(df[[col, label]], col, label)
            output_df.loc[col] = ['F', '', round(F, 3), round(p, 6)]
            bar_chart(df, col, label)
        else:
          pearsonchisquare(df[col], df[label])
      else:
        output_df.loc[col] = [np.nan, np.nan, np.nan, np.nan]
  

output_df.head()

IndentationError: unexpected indent (<ipython-input-2-76609fe0ad76>, line 7)

In [5]:
# Question 4:
# sub_grade appears to be a more detailed version of grade. Which should we keep? To determine this, 
# write a routine or expression to count the number of unique values of grade and sub_grade (+2). You 
# might find the DataFrame method .value_counts() useful for this task.
# Which feature(s) has groups representing less than 5% of the dataset?

In [6]:
# Question 5:
# Delete only the one feature (from the original DataFrame) from the prior question that 
# has the most groups representing  less than 5% of the overall number of cases (+1).
# Print the first 5 records of the DataFrame to verify that it is deleted.
# Which feature did you delete?

In [7]:
# Question 6:
# Examine the univariate properties generated in a prior step. Which features have skewness problems assuming 
# that you round to two decimal places? Answer this question below. You must select every correct answer and no 
# incorrect answers to receive full credit.
# 
# Write a routine that will print only the names and skewness scores of those features that voliate the skewness 
# assumption in order from most to least skewness (+2). 
# 
# HINT: It is okay to change the sign of the skewness score to make all of them comparable. Also, filtering a 
# Pandas Series is much like filtering a DataFrame except that you don't refer to the feature name. e.g.:

# print(series[series > num]) # where num refers to your skewness cutoff

In [8]:
# Question 7:
# We need to determine which features may have heteroscedasticity problems with the label loan_status_numeric 
# before we run the model. Check the heteroscedasticity of each numeric feature (floats and ints) with the label
# by using only White's Test. Place the results in a DataFrame with the following columns: feature name, 
# Lagrange Multiplier (LM), LM p-value, F-stat, p-value. Sort the DataFrame F-stat to smallest. Round the results 
# to three decimals. (+5)

# Which feature has the most heteroscedasticity with loan_status_numeric based on White's F stat? 
# Enter the name below exactly as it appears in the dataset. Capitalization doesn't matter.

In [9]:
# Question 8:
# Create an MLR model to explain loan_status_numeric from all other numeric features in the dataset
# Do not convert any categorical features to numeric dummy codes for this task and be sure to allow
# the y-intercept to vary. Print the summary() method of the statsmodels OLS object after fitting 
# the model (+3)

In [10]:
# Question 9:
# Print a list of the features and their coefficients. Sort the list from furthest from zero to closest. 
# It is okay to convert all negative coefficients to positive using an abosolute value if that helps. (+1)

# Based on the coefficient estimate, what is the most important feature (i.e. highest coefficient) in the prior OLS?

In [11]:
# Question 10:
# Print a list of the features and their t-test statistics. Sort the list from furthest from zero to closest. 
# It is okay to convert all negative t-stats to positive using an abosolute value if that helps. (+1)

# Based on the t-test statistic, what is the most important feature in the prior OLS?

In [12]:
# Question 11:
# Next, we need to manage the date fields: issue_d and earliest_cr_line. One way to do this is to 
# convert them to "days/months/years since [date]". Review chapter 4.7 (or whatever chapter 
# "Python: IPO" is numbered as in your book) to see how to calculate the difference between dates. 
# Or, find a suitable example on stackoverflow.com or similar (example and example).

# Create new versions of issue_d and earliest_cr_line that are calculated as the difference between 
# the value and 12/31/2018 in months. Save these new features in place of the existing features. (+3)
# Another way to accomplish this is to create a new column with a default date of 12/31/2018. Then 
# set issue_d = the difference between that new column and the existing issue_d column.

# What is the maximum value of the resultling issue_d feature? Enter the days in integer form. For 
# example, if the answer were '851 days 00:00:00', enter 851

# FINALLY: if you struggle with this task and cannot complete it, just drop those two date fields 
# (+1: this point an alternative to the 3 points above for converting. i.e. you can't get both 1 + 3 = 4)

In [13]:
# Question: 12
# Let's test our model with all remaining variables included after completing each of 
# the prior tasks. Create and run another OLS after creating dummy code values for all 
# remaining categorical features. Continue to use loan_status_numeric as the label and 
# be sure not to include loan_status in your model in any way. (+2)

# Print the .summary() method of your fitted OLS object.

# What is the R squared value of your model?

In [14]:
# Question 13: 
# Once again, based on the model created in the prior step, print out a list of 
# features with t-tests stats and a separate list of features with coefficients. (+1)

# Based on the t-test stat, which feature is having the largest effect on 
# loan_status_numeric?

In [15]:
# Question 14: 
# Next, scale the data to values ranging from 0 to 1. Run the OLS model again. Based on
# on the coefficient estimates, which feature has the largest effect?

In [16]:
# Question 15: 
# Once again, print out a list of features and their coefficient values. Sort from largest from zero
# to smallest. It is okay to use absolute values. Also, print the features including their tvalues and 
# sort from highest to lowest (again; it's okay to use absolute values).(+1)

# Notice how the features toward the top of the coefficient list are much more similar to the list of
# those with the highest t-test statistics than when we ran this model without normalizing/scaling. 
# This is one of the reasons we normalize. 

# What feature (not value) is at the top of the list of coefficient values that are furthest from zero?

In [17]:
# Question 16:
# Now let's check for assumptions. We have already checked for univariate skewness issues in the univariate 
# statistics (although we haven't corrected the skewness and we won't for this midterm). However, let's now 
# check overall model "normalcy". This has already been calculated in your last model. Which answer below
# represents the likelihood that the residuals are normally distributed. 

# NOTE: There is no code to write for this question. Leave the corrosponding code cell as it is

In [18]:
# Question 17:
# Next, let's find out which features have too much multi-collinearity with the other features. Test each 
# feature for multi-collinearity and print the results in a DataFrame (+2). Sort the DataFrame from largest 
# to smallest multi-collinearity (+1).

# To show all of the results, you may need to add the following line:

# pd.set_option('display.max_rows', 500)

# How many features have VIF scores above 10?

In [19]:
# Question 18:
# One-by-one, remove each feature with a VIF score greater than 10 until all features have VIF < 10. In other words:

#    1. remove the one feature with the highest VIF
#    2. re-test VIF for all features. 
#    3. repeat until no more features have a VIF > 10

# (+4)

# NOTE: You do not have to write an automated loop to do this. You can simply remove the features "manually" each time. However, if you are going to automate this with a loop, you might find the .idxmax() method of DataFrames useful.

# Print the remaining list of featues along with the VIF scores (Tolerance optional) (+1). 

# How many features were dropped?

In [20]:
# Question 19:
# Create one more model based on these remaining features after removing those with multi-
# collinearity issues. Your dataset should already have dummy codes and a MinMax scaling 
# from the last model you created. (+1). In other words, you could perform this step in 
# only 1-2 lines of code.

# Print out the .summary() method of the fitted OLS object.

# What is the R2 score?

In [21]:
# Question 20:
# Write a routine that will help us identify the remaining features to keep in the model. 
# To do this:

#    1. Eliminate the one feature with the t-test statistic closest to zero
#    2. Store the R2, R2 adjusted, and the name of the feature with the tvalue closest to 
#       zero in a DataFrame with number of features as the row index
#    3. Re-run the MLR
#    4. Repeat Steps 1-3 until there is there are 5 features left in the model. (+5)
#    5. Plot lines for R2 and R2 adjusted in a chart to visualize (+3)
#          - Use the number of features in each model as the x-axis
#          - Use the R2 and R2 adjusted scores as the y-axis
#          - Adjust the y-axes to zoom in and maximize the difference between R2 and R2 adjusted

# HINT: Looking for where to begin? You need a loop that will run (n - 5) times where n = the 
# number of remaining features (not counting the label) and -5 is due to ending with 5 features 
# left in the model. I've given you an example in the code below as well as some pseudocode to 
# walk you through the rest. This is just one way to do this, you don't have to use this example: 

#  1. Create an empty DataFrame with the columns 'R2', 'R2_adj', 'lowest t feat'; e.g. 'output_df'
#  2. Store your current features DataFrame in a new variable; e.g. 'features_df' (so you don't
#     have to keep re-running all of your prior code as you debug)

#  3. for i in range(len(features_df.columns) - 5):
#  4.    Fit an OLS model using the label created previously and 'features_df'
#  5.    Add a new row to output_df containing the R2, R2_adj, and the lowest tvalue feature
#        from the model you just fit in the line above
#  6.    Drop that lowest tvalue feature from 'features_df'

#  7. Create a lineplot including R2 and R2_adj
#  8. Search Google/stackoverflow.com to see how to set the scale of the y-axes to highlight the
#     difference between R2 and R2_adj.
#  9. Identify the point on the curve where R2 and R2_adj get as close together as possible 
#     before taking a steep dive

# About how many features (sorted from best to worst) should we include in our final model?